*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug *{
    /* border: 1px solid purple; */

    font-family: 'Roboto', sans-serif;
}


.centered{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* navbar */

header{    
    background-image: url(../img/jumbo.png);
    background-size: cover;
}


/* nav con 3 div */
.navbar{

    height: 70px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.navbar ul{
    list-style-type: none;
}


#link{
    display: flex;
    align-items: stretch;
}

#link ul{
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 30px;
}

/* logo */


#logo{  
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#link li{  
    height: 30px;
    width: 60px;

    font-size: 14px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#link li:nth-child(even){
    width: 100px;
}

li > a{
    text-decoration: none;
    color: white;
    
}

/* bottone */

#signin{
    width: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#signin button{
    padding: 10px;
    border: transparent;

    border-radius: 20px;
}

button:hover{
    cursor: pointer;

    background-color: lightgray;
    color: gray;
}

/* header - titoli */


.intestazione{
    
    min-height: 425px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px 0;
}


#header-inner{
    display: flex;
    flex-direction: column;
    gap: 1em;

    width: 100%;
    max-width: 700px;
    text-align: center;

}


/* titolo */
#header-inner h1{
    margin-bottom: 0.4em;

    color: white;
}

/* paragrafo */

#header-inner p{
    color: white;
}


/* bottoni */

#header-btns{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.header-btns button{
    height: 2.5em;
    border: transparent;
    border-radius: 20px;
}

#btnone{
    width: 150px;
}
#btntwo{
    width: 200px;
    background-color: #23272a;
    color: white;
}

#btntwo:hover, #btnthree:hover, #signup:hover{
    cursor: pointer;

    background-color: lightgray;
    color: gray;
}


/* main */


main section{
    padding-top: 50px;
}

.section-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}


#graywave{
    filter: opacity(0.05);
 }
 
 #whitewave{
     filter: invert(100%);
 }
 

.section{
    width: 600px;
    height: 444px;

    flex-grow: 1;

}

#sectiontwo, #columned{
    background-color: #f5f5f5;
}

.imgone{
    background-image: url(../img/item1.svg);
    background-size: cover;
}

.imgtwo{
    background-image: url(../img/item2.svg);
    background-size: cover;
}

.imgthree{
    background-image: url(../img/item3.svg);
    background-size: cover;
}

.section-text{
    height: 444px;
    max-width: 30%;
    min-width: 30%;

    padding: 60px 40px;
}

.section-text strong{ 
    font-size: 30px ;  
}

.section-text p{
    margin-top: 40px;
    font-size: 13px;
    color: rgb(41, 38, 38);

    line-height: 1.5em;  
}


/* sezione finale */


.content{

    min-height: 1000px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 30px 0;
}

.content #inner-content{
    display: flex;
    flex-direction: column;
    gap: 1.5em;


    width: 100%;
    max-width: 900px;

    text-align: center;
}

#inner-content h2, p, img, h3{
    margin-bottom: 0.5em;
}

#inner-content h2{
    font-size: 30px;
}

#innter-content p{
    font-size: 13px;
    color: rgb(41, 38, 38);

    line-height: 1.5em;  
}


#inner-content h3{
    height: 50px;
    font-size: 20px;

    background-image: url(../img/stars.svg);
    background-size: contain;
}

.columnedbtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnthree{
    width: 150px;
    height: 3em;
    border: transparent;
    background-color: #7289da;

    color:white;

    border-radius: 30px;
}

/* footer */

footer{
    background-color: #23272a;
    color: #7289da;
}

.footer-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 10px;

    padding-top: 2em;
}


#footer-left{
    width: 300px;
    height: 400px;
}

#footer-left .info{
    width: 100%;
    height: 200px;

    padding: 10px;
}

.info h4{
    font-size: 30px;

    padding-bottom: 10px;
}

.info img{
    height: 30px;
    padding-left: 10px;
    padding-top: 10px;
}

.info select{
    margin-left: 10px;
    padding: 5px;
    background-color: transparent;
    color: white;
    border: transparent;
}


.info{
    width: 250px;
    height: 380px;
}

#footer-right{
    flex-grow: 1;

    display: flex;

    max-width: 700px;
}

.footer-lists{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.footer-lists ul, strong{
    list-style-type: none;

    padding: 10px;
    
}

.footer-lists li{
    line-height: 30px;
}

/* footer navbar */

.bottombar{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 2em 0;
}

#footer-logo{
    width: 150px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signup{
    width: 100px;
    height: 40px;

    border: transparent;
    background-color: #7289da;

    color:white;

    border-radius: 30px;
}

